<div class="card h-100 border-0">
  <!--<div class="card-header flexible justify-content-around">-->
    <!--<h3 *ngIf="headerLabel">{{headerLabel}}</h3>-->
  <!--</div>-->
  <div class="card-body default-bg scrollable background">
    <div class="row">
      <div class="col-lg-4 col-xl-3" *ngFor="let item of items">
        <a class="title-box btn-primary" href="#" [routerLink]=item.routerLink>
          <div class="title-box-header">{{item.label}}</div>
          <div class="title-box-content-wrapper">
            <img width="200px" height="200px" [src]="[item.iconClass]">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
