@import "../../../styles/variables.scss";
:host{
  height: 100%;
}

//.background {
//  background-color: lighten(#ff3d46, 20);
//}

.title-box {
  &:hover,  &:focus {
    border: 5px solid #2DEDE4;
    .title-box-header {
      background-color: darken(#FD1D53, 20);
    }
    .title-box-content-wrapper{
      animation-name: stretch;
      animation-duration: 0.2s;
      background-color: darken(#ffc107, 2);
    }
    @keyframes stretch {
      0% {
        transform: scale(.75);
        border-radius: 100%;
      }
      50% {
      }
      100% {
        transform: scale(1);
      }
    }
  }
  line-height: inherit;
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 0.25rem;
  background-color: #023788;
  .title-box-header {
    background-color: rgba(#023788, 0.20);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
  }
  .title-box-content-wrapper {
    text-align: center;
    padding: 30px;
    i {
      font-size: 7em;
    }
  }
}
