<div class="card full-height background">
  <div class="card-body full-height p-0">
    <div class="score-board">
      <div id="matches">
        <div id="matchUser1"></div>
        <div id="matchUser2"></div>
        <div id="matchUser3"></div>

        <div id="matchComputer1"></div>
        <div id="matchComputer2"></div>
        <div id="matchComputer3"></div>
      </div>
      <div id="user-label" class="badge">user</div>
      <div id="computer-label" class="badge">computer</div>
      <div class="scores">
        <span id="user-score">0</span>:<span id="computer-score">0</span>
      </div>
    </div>
    <div id="result" class="result"><p></p></div>
    <div>
      <div id="rock" class="choice">
        <img src="../../../assets/rock-paper-scissors-spock-lizard/icons/rock.png" alt="Rock">
      </div>
      <div id="paper" class="choice">
        <img src="../../../assets/rock-paper-scissors-spock-lizard/icons/paper.png" alt="Paper">
      </div>
      <div id="scissors" class="choice">
        <img src="../../../assets/rock-paper-scissors-spock-lizard/icons/scissors.png" alt="Scissors">
      </div>
      <div id="spock" class="choice">
        <img src="../../../assets/rock-paper-scissors-spock-lizard/icons/spock.png" alt="Spock">
      </div>
      <div id="lizard" class="choice"><img src="../../../assets/rock-paper-scissors-spock-lizard/icons/lizard.png" alt="Lizard"></div>
    </div>
    <p id="action-message">Make your move</p>
  </div>
</div>

